// Button colors
$btn-color1: #6495ED;
$btn-primary-hover-color1: rgb(230, 230, 230);


// Font colors
$fc-title: #6495ED;


// Box Shadow
$box-shadow1: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;