@import './mixin.scss';
@import './variables.scss';

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: fit-content;

    .header__title {
        font-weight: 900;
        color: $fc-title;
    }

    .header__subtitle {
        font-weight: 300;
    }

    .header__title, .header__subtitle {
        @include cursor-behavior(default);
    }

}

.btn {
    @include flex(column, center, center);
    @include cursor-behavior(pointer);
    font-size: 2rem;
    font-weight: 600;
    background-color: white;
    border: none;

    &:hover {
        background-color: $btn-primary-hover-color1;
    }
}

.btn--round {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.btn-add {
    width: 100%;
    min-width: 375px;
    max-width: 620px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $box-shadow2;
    color: $fc-title;
}

.btn-view {
    color: $fc-title;
}

.btn-done {
    color: rgb(76, 189, 42);
}

.btn-delete {
    color: rgb(219, 33, 33)
}

.btn-edit {
    color: #262626;
}

input[type="text"] {
    width: 100%;
    max-width: 580px;
    min-width: 375px;
    height: 50px;
    font-size: 1.6rem;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: rgb(247, 247, 247);
}

textarea {
    width: 100%;
    max-width: 580px;
    min-width: 375px;
    height: 80px;
    min-height: 50px;
    font-size: 1.6rem;
    line-height: 1.2;
    resize: vertical;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(247, 247, 247);
}

.modal__item.add.hide {
    display: none;
    visibility: hidden;
}

.modal__item.edit.hide {
    display: none;
    visibility: hidden;
}

.modal__item.view.hide {
    display: none;
    visibility: hidden;
}

.hide, .modal.hide {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

#root {
    @include flex(column, space-around, center);
    gap: 35px;
    width: 100%;
    height: 100%;
    padding: 20px 16px;

    &>header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;

        .header__title {
            font-size: 7.2rem;
        }
    
        .header__subtitle {
            font-size: 2rem;
        }
    }
    
    hr {
        width: 20%;
        height: 1px;
        background-color: rgba(0, 0, 0, .1);
        bottom: 0;
    }

    .content-container {
        width: 100%;
        min-width: 375px;
        max-width: 700px;
        height: fit-content;
        min-height: 100px;
        overflow-x: hidden;
    }

    .modal {
        position: fixed;
        @include flex(column, center, center);
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
    }

    .hide, .modal.hide {
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
}