body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: fit-content;
}
header .header__title {
  font-weight: 900;
  color: #6495ED;
}
header .header__subtitle {
  font-weight: 300;
}
header .header__title, header .header__subtitle {
  cursor: default;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  background-color: white;
  border: none;
}
.btn:hover {
  background-color: rgb(246, 246, 246);
}

.btn--round {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.btn-add {
  width: 100%;
  max-width: 620px;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  color: #6495ED;
}
.btn-add.active {
  color: white;
  background-color: #6495ED;
}
.btn-add.active:hover {
  background-color: #3f72d1;
}

.btn-view {
  color: #6495ED;
}

.btn-done {
  color: rgb(76, 189, 42);
}

.btn-delete {
  color: rgb(219, 33, 33);
}

.btn-edit {
  color: #262626;
}

input[type=text] {
  width: 100%;
  max-width: 580px;
  height: 50px;
  font-size: 1.6rem;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
}

textarea {
  width: 100%;
  max-width: 580px;
  height: 80px;
  min-height: 50px;
  font-size: 1.6rem;
  line-height: 1.2;
  resize: vertical;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
}

.modal__item.add.hide {
  display: none;
  visibility: hidden;
}

.modal__item.edit.hide {
  display: none;
  visibility: hidden;
}

.modal__item.view.hide {
  display: none;
  visibility: hidden;
}

.hide, .modal.hide {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: 100%;
  padding: 20px 16px;
}
#root > header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
#root > header .header__title {
  font-size: 7.2rem;
}
#root > header .header__subtitle {
  font-size: 2rem;
}
#root hr {
  width: 20%;
  min-width: 175px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
}
#root .content__button-container {
  width: 100%;
  max-width: 620px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "add add" "ictask ctask";
  gap: 20px;
}
#root .content__button-container button:nth-child(1) {
  grid-column: 1/3;
  grid-area: add;
  height: auto;
}
#root .content__button-container button:nth-child(2) {
  grid-area: ictask;
  height: auto;
}
#root .content__button-container button:nth-child(3) {
  grid-area: ctask;
  height: auto;
}
#root .content-container {
  width: 100%;
  min-width: 375px;
  max-width: 700px;
  height: fit-content;
  min-height: 100px;
  overflow-x: hidden;
}
#root .modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}
#root .hide, #root .modal.hide {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

/*# sourceMappingURL=layout.css.map */
