* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Sans-Serif';
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    overflow-x: hidden;
}